@page "/testcases"
@using TestCaseDashboard.Models.mydatabase

<PageTitle>Testcases</PageTitle>
<RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenText Text="Testcases" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
              
                <RadzenButton Icon="add_circle_outline" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenTextBox Placeholder="Search ..." style="display: block; width: 100%" @oninput="@Search" aria-label="Search by all string columns" />
    <RadzenRow>
      <RadzenColumn SizeMD=12>
        <RadzenDataGrid @ref="grid0" ColumnWidth="200px"   AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
            Data="@(testcases)" TItem="TestCaseDashboard.Models.mydatabase.Testcase" RowSelect="@EditRow">
            <Columns>
            <RadzenDataGridColumn TItem="TestCaseDashboard.Models.mydatabase.Testcase" Property="Project.Projectname" Title="Project">
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TestCaseDashboard.Models.mydatabase.Testcase" Property="Project.ProjectSource" Title="Source"></RadzenDataGridColumn>
         
                <RadzenDataGridColumn TItem="TestCaseDashboard.Models.mydatabase.Testcase" Property="Screen" Title="Screen">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="TestCaseDashboard.Models.mydatabase.Testcase" Property="Function" Title="Function">
                </RadzenDataGridColumn>
        
<RadzenDataGridColumn TItem="TestCaseDashboard.Models.mydatabase.Testcase" Title="Coder Name">
    <Template Context="data">
        @if (data.TestcaseTeammembers != null && data.TestcaseTeammembers.Any())
        {
            @string.Join(", ", data.TestcaseTeammembers
                .Where(t => t.Role == Role.Coder && t.Teammember != null)
                .Select(t => t.Teammember.Name))
        }
        else
        {
            <span>-</span>
        }
    </Template>
</RadzenDataGridColumn>

<RadzenDataGridColumn TItem="TestCaseDashboard.Models.mydatabase.Testcase" Title="Coding Testing">
    <Template Context="data">
        @if (data.TestcaseTeammembers != null && data.TestcaseTeammembers.Any())
        {
            @string.Join(", ", data.TestcaseTeammembers
                .Where(t => t.Role == Role.Coder)
                .Select(t => t.TestStatus.ToString()))
        }
        else
        {
            <span>-</span>
        }
    </Template>
</RadzenDataGridColumn>




<RadzenDataGridColumn TItem="TestCaseDashboard.Models.mydatabase.Testcase" Title="Tester Name">
    <Template Context="data">
        @if (data.TestcaseTeammembers != null && data.TestcaseTeammembers.Any())
        {
            @string.Join(", ", data.TestcaseTeammembers
                .Where(t => t.Role == Role.Tester && t.Teammember != null)
                .Select(t => t.Teammember.Name))
        }
        else
        {
            <span>-</span>
        }
    </Template>
</RadzenDataGridColumn>

<RadzenDataGridColumn TItem="TestCaseDashboard.Models.mydatabase.Testcase" Title="Tester Testing">
    <Template Context="data">
        @if (data.TestcaseTeammembers != null && data.TestcaseTeammembers.Any())
        {
            @string.Join(", ", data.TestcaseTeammembers
                .Where(t => t.Role == Role.Tester)
                .Select(t => t.TestStatus.ToString()))
        }
        else
        {
            <span>-</span>
        }
    </Template>
</RadzenDataGridColumn>

<RadzenDataGridColumn TItem="TestCaseDashboard.Models.mydatabase.Testcase" Title="Project Owner Name">
    <Template Context="data">
        @if (data.TestcaseTeammembers != null && data.TestcaseTeammembers.Any())
        {
            @string.Join(", ", data.TestcaseTeammembers
                .Where(t => t.Role == Role.Owner && t.Teammember != null)
                .Select(t => t.Teammember.Name))
        }
        else
        {
            <span>-</span>
        }
    </Template>
</RadzenDataGridColumn>

<RadzenDataGridColumn TItem="TestCaseDashboard.Models.mydatabase.Testcase" Title="Project Owner Testing">
    <Template Context="data">
        @if (data.TestcaseTeammembers != null && data.TestcaseTeammembers.Any())
        {
            @string.Join(", ", data.TestcaseTeammembers
                .Where(t => t.Role == Role.Owner)
                .Select(t => t.TestStatus.ToString()))
        }
        else
        {
            <span>-</span>
        }
    </Template>
</RadzenDataGridColumn>

<RadzenDataGridColumn TItem="TestCaseDashboard.Models.mydatabase.Testcase" Property="Createdat" Title="Createdat">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="TestCaseDashboard.Models.mydatabase.Testcase" Property="Updatedat" Title="Updatedat">
                </RadzenDataGridColumn>
                
                <RadzenDataGridColumn TItem="TestCaseDashboard.Models.mydatabase.Testcase" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                    <Template Context="testcase">
                        <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="edit" Size="ButtonSize.Medium"
    Shade="Shade.Lighter" Variant="Variant.Flat"
    Click=@(args => EditRow(testcase)) @onclick:stopPropagation="true" />

                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                            Shade="Shade.Lighter" Variant="Variant.Flat"
                            Click=@(args => GridDeleteButtonClick(args, testcase)) @onclick:stopPropagation="true" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>

        </RadzenDataGrid>

    </RadzenColumn>
  </RadzenRow>
</RadzenStack>
